body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background: linear-gradient(135deg, #0a0a0f, #111122);
  color: white;
}

/* HEADER */
header {
  text-align: center;
  padding: 50px;
}

header h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
  color: #00e5ff;
}

header p {
  color: #aaa;
}

/* GRID */
.stats {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* CARD */
.card {
  width: 250px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(15px);
  transition: 0.3s;
  text-align: center;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #00e5ff;
}

/* COUNTER */
.counter {
  font-size: 35px;
  margin: 10px 0;
  color: #00ff88;
}

/* BAR */
.bar {
  height: 6px;
  background: #222;
  border-radius: 10px;
}

.bar div {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #00e5ff, #00ff88);
  border-radius: 10px;
  transition: 1s;
}

/* GITHUB */
.github {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

/* BUTTON */
.actions {
  text-align: center;
  margin-top: 20px;
}

button {
  padding: 12px 25px;
  background: #00e5ff;
  border: none;
  border-radius: 8px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #00ff88;
}

/* FOOTER */
footer {
  text-align: center;
  margin-top: 40px;
  color: #777;
}